
<!--  header ---------------------------------------\
----  --------------------------------------------------------------------->
<header>
  <mat-toolbar color="primary" class="mat-elevation-z6">
    <button routerLink="home/all-hotels" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>home</mat-icon>
    </button>
    <span>{{ name | uppercase }}</span>
    <span class="example-spacer"></span>
    <a mat-button routerLink="user/all-users">Users</a>
    <a mat-button routerLink="hotel/all-hotels">Hotels</a>
    <a mat-button>Booking</a>
    <a mat-button>Services</a>
    <a mat-button>Sign in <mat-icon>login</mat-icon></a>
  </mat-toolbar>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<!--  footer ---------------------------------------\
----  --------------------------------------------------------------------->
<div class="mt-2">
  <footer>
    <mat-toolbar class="color-greay">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <h3>Hotel management system</h3>
      </button>
      <!-- <span>My App</span> -->
      <span class="example-spacer"></span>
      <a mat-button>Powered by hotel management ©2010-2023.</a>
    </mat-toolbar>
  </footer>

</div>