
<header>
  <mat-toolbar color="primary" class="mat-elevation-z6">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <!-- <mat-icon>menu</mat-icon> -->
      <mat-icon>home</mat-icon>    
    </button>
    <span>{{ name | uppercase }}</span>
    <span class="example-spacer"></span>
    <a mat-button routerLink="user/all-users">Users</a>
    <a mat-button routerLink="hotel/all-hotels">Hotels</a>
    <a mat-button>Booking</a>
    <a mat-button>Services</a>
    <a mat-button>Sign in <mat-icon>login</mat-icon></a>
  </mat-toolbar>
</header>

<main>
  <router-outlet></router-outlet>
</main> 

<!-- 
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <h1>Admin Panel</h1>
    <a mat-button routerLink="hotel/all-hotels">Hotels</a>
    <a mat-button routerLink="user/all-users">Users</a>
    <a mat-button>Bookings</a>
    <a mat-button>Setings</a>
  </mat-sidenav>
  <mat-sidenav-content>
    <header>
      <mat-toolbar color="primary" class="mat-elevation-z6">
        <button (click)="sidenav.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>    
        </button>
        <span>My App</span>
        <span class="example-spacer"></span>
        <a mat-button routerLink="hotel/all-hotels">Hotels</a>
        <a mat-button>Booking</a>
        <a mat-button>Services</a>
        <a mat-button>Sign in</a>
      </mat-toolbar>
    </header>    
  </mat-sidenav-content>
</mat-sidenav-container>
-->