
<header>
  <mat-toolbar color="primary" class="mat-elevation-z6">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <a mat-button>Hotels</a>
    <a mat-button>Hotel</a>
    <a mat-button>Hotels</a>
    <a mat-button>Hotels</a>
    <a mat-button>Hotels</a>
    <a mat-raised-button>Sign in</a>
  </mat-toolbar>
</header>

<main>
  <router-outlet></router-outlet>
</main>