
<div class="container mt-2">
    <h1>Add New Hotel</h1>
</div>

<div class="container mt-2">
    <form class="mat-elevation-z8 p-2">
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Name">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
    
        <mat-form-field appearance="outline">
            <mat-label>Rent par day</mat-label>
            <input matInput placeholder="Rent par day">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
    
        <mat-form-field appearance="outline">
            <mat-label>Maximum capacity</mat-label>
            <input matInput placeholder="Maximum capacity">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
    
        <mat-form-field appearance="outline">
            <mat-label>Date</mat-label>
            <input matInput placeholder="Date">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>

        <button mat-raised-button color="primary" class="mt-2">Add Hotel</button>
    </form>
</div>